<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="<%= description %>">
        <link rel="stylesheet" href="/style.css?v=2">
        <link rel="alternate" type="application/rss+xml" title="RSS feed" href="https://rosepadmc.github.io/feed.rss">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Ubuntu&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a <% if (fragment == "index") { %>class="here"<% } %> href="/">Home</a>
            <a <% if (fragment == "news") { %>class="here"<% } %> href="/news.html">News</a>
            <a <% if (fragment == "qna") { %>class="here"<% } %> href="/qna.html">Q&amp;A</a>
        </nav>
        <div class="spacer"></div>
        <header>
            <h1><%= title %></h1>
            <p>
                <%= description %>
            </p>
        </header>
        <%- await include(`pages/${fragment}`, { require, ...forward }) %>
    </body>
</html>
